div{
	border-style: solid;
}
#header{
	background-color: gray;
	border-width: 1px;
	padding: 5px;
	padding-left: 10px;
}
#left{
	background-color: #dbd6c3;
	border-width: 1px;
	border-top-width: 0px;
	height: 200px;
	float: left;
	width: 70px;
}